#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("../assets/squiggle_lines_pattern_background.jpg");
  /* background-repeat:  */
  /* background-size: cover; */
}

/* .header-col {
  display: grid;
} */

.card {
  padding: 2em;
}

#header {
  /* align-self: flex-start; */
  background: linear-gradient(
    109.6deg,
    rgb(33, 25, 180) 11.2%,
    rgb(253, 29, 29) 55.2%,
    rgb(252, 176, 69) 91.1%
  );
  color: white;
  padding: 50px;
  border-radius: 10px;
}
.header-text {
  text-shadow: 2px 2px 5px rgb(11, 11, 11);
}
.header-user-display > img {
  max-width: 70px;
  border-radius: 35px;
  border: 4px outset black;
}

ul {
  list-style: none;
  padding-left: 0%;
}

.card-img {
  width: 200px;
}

footer {
  position: relative;
  left: -5px;
  margin: 50px;
  padding: 10px;
  border: 4px outset #f65f0d;
  border-radius: 20px;
  background-color: white;
}
/* split colours of styled-box into 2 seperate themes for userpagecard, and comments cards add theme class to each*/
.styled-box {
  max-width: 700px;
  margin: 20px;
  padding: 10px;
  position: relative;
  left: -5px;
  text-align: center;
  color: black;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 1px solid #5d91f1;
  border-radius: 20px;
  box-shadow: 20px 15px 32px rgba(0, 0, 0, 0.2);
}

.articles-card {
  max-width: 800px;
  margin: 30px 30px 30px 5px;
  box-shadow: 19px 21px 34px 3px rgba(0, 0, 0, 0.2);
}

.alternate-content {
  margin: 50px;
}
nav {
  padding: 30px 20px 200px 20px;
  margin-top: 30px;
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  border-radius: 4px;
  height: 100%;
}
.nav-items {
  position: relative;
  left: -15px;
}

/* .nav-items > ul {
  padding-left: 10px;
} */

.nav-items > li {
  margin: 50px 0px;
  /* padding-right: 10px; */
}

.comment-form {
  display: inline;
}

.loading-container {
  margin-left: 200px;
  margin-top: 100px;
}

.error-container {
  margin-top: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 19px 21px 34px 3px rgba(0, 0, 0, 0.2);
}

.error-info {
  font-size: 2rem;
}

form {
  color: white;
  text-shadow: 2px 2px 5px rgb(11, 11, 11);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* background-color: rgb(244, 158, 20);
  padding: 8px 0px;
  border-radius: 3px; */
}
.navlink-button {
  text-shadow: 2px 2px 5px rgb(11, 11, 11);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}
select {
  background-color: white;
  color: black;
}

.dropdown-label {
  font-weight: 500;
}

.reset-input {
  background-color: purple;
  padding: 5px;
  border-radius: 5px;
}
