#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style: none;
}

.card-img {
  width: 200px;
}

footer {
  margin: 50px;
  padding:10px;
  border: 4px outset #f65f0d;
  border-radius: 20px;
}
.styled-box {
  margin: 20px;
  position: relative;
  left:-15px;
  text-align:center;
  color: black;
  background: rgba(104, 205, 253, 0.1);
  border: 1px solid #5d91f1;
  border-radius: 20px;
  box-shadow: 20px 15px 32px rgba(0, 0, 0, 0.2);
}

.articles-card{
  margin: 30px;
  box-shadow: 19px 21px 34px 3px rgba(0, 0, 0, 0.2);
}