#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

#header {
  background: linear-gradient(112.4deg, rgb(169, 28, 115) 21.6%, rgb(219, 112, 54) 92.2%);
  color: white;
  padding: 30px;
  border: 2px solid rgba(248, 123, 6, 0.448);
  border-radius: 31px;
}
.header-text {
  text-shadow: 2px 2px 5px rgb(11, 11, 11);
}
.header-user-display > img {
  max-width: 70px;
  border-radius: 35px;
  border: 4px outset black
}

ul {
  list-style: none;
}

.card-img {
  width: 200px;
}

footer {
  position: relative;
  left:-5px;
  margin: 50px;
  padding:10px;
  border: 4px outset #f65f0d;
  border-radius: 20px;
}
/* split colours of styled-box into 3 seperate themes for userpagecard, topic/topic card and comments cards add theme class to each*/
.styled-box {
  max-width:700px ;
  margin: 20px;
  padding:10px;
  position: relative;
  left: -5px;
  text-align:center;
  color: black;
  background: rgba(104, 205, 253, 0.1);
  border: 1px solid #5d91f1;
  border-radius: 20px;
  box-shadow: 20px 15px 32px rgba(0, 0, 0, 0.2);
}

.articles-card{
  max-width: 800px;
  margin: 30px 30px 30px 5px;
  box-shadow: 19px 21px 34px 3px rgba(0, 0, 0, 0.2);
}

.alternate-content {
  margin: 50px;
}
nav {
  padding: 30px 20px 200px 20px;
  margin-top: 30px;
  background: rgba(74, 144, 226, 0.9);
  border-radius: 4px;
  border: 4px outset #2080f1;;
}
.nav-items {
  position:relative;
  left:-15px;
}
.nav-items > li {
  margin:50px 0px;
}